@inherits LayoutComponentBase

<PageTitle>Stock Analysis</PageTitle>

<Layout>
    <LayoutHeader Fixed>
        <TopMenu />
    </LayoutHeader>
    <LayoutContent>
        <div style="margin:70px;">
            @Body
        </div>
    </LayoutContent>
    <LayoutFooter Fixed>
        <Footer />
    </LayoutFooter>
</Layout>
