@page "/"



<div class=WordSection1>
    <h2>Elevator pitch as you are climbing up the Freedom Tower!</h2>

    <p class=MsoNormal>
        Hello and welcome. I know a thing or two about investing in
        stocks and I’m here to share what I know with you. By no means I’m an expert in
        this field but done okay in investing. There are several investment options
        available, each with its own unique set of risks and rewards. Some of the most
        common investment options include:
    </p>
    <p class=MsoListParagraph style='text-indent:-.25in'>
        1.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Stocks: Purchasing shares of a publicly traded company, with the
        potential for both capital appreciation and dividend income. Stocks are
        considered relatively high-risk but also high-return investments.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        2.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Bonds: Lending money to a government or corporation in exchange for
        regular interest payments and the return of principal at maturity. Bonds are
        generally considered to be less risky than stocks but also have lower potential
        returns.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        3.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Mutual funds and ETFs: Pooled investment vehicles that invest in a
        diversified portfolio of stocks, bonds, and other assets. Mutual funds and ETFs
        can provide diversification and professional management at a low cost.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        4.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Real estate: Investing in property or real estate with the potential for
        rental income, capital appreciation, and tax benefits. Real estate can be a
        relatively illiquid investment and may require a significant amount of capital.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        5.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Commodities: Investing in raw materials such as gold, oil, and
        agricultural products. Commodities can provide a hedge against inflation and
        diversification for a portfolio.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        6.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Cryptocurrency: Digital or virtual currency that uses cryptography for
        security, it is decentralized and operates on blockchain technology. It is a
        new investment option and is considered highly speculative with high
        volatility.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        7.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Deposits: Depositing money in banks or other financial institutions to
        earn interest income. Deposits are considered relatively safe but have low
        returns.
    </p>

    <p class=MsoNormal>
        <i>
            It is important to note that investing in any of the
            above options will have its own set of risks and rewards, and it is important
            for an investor to conduct the necessary research and due diligence before
            making any decisions. Additionally, diversifying among different types of
            investment options can be a good strategy to balance risk and reward and helps
            to mitigate risk.
        </i>
    </p>

    <p class=MsoNormal>
        Every investment mentioned above will, most probably, grow
        over time, and unless we make bad decisions when procuring the investment
        vehicle or sleepover investments; we need to evaluate every investment he/she
        has periodically and disown bad investments as soon as possible. If you are in
        love with any of your investments it will make you hate yourself. If an
        investment is not working, get rid of it now!
    </p>

    <p class=MsoNormal>
        We are going to discuss only about stocks and little bit
        about ETFs here.
    </p>

    <p class=MsoNormal>
        Okay if every investment avenue has risks then why not keep
        my funds in a bank? There are several reasons why investing may be a better
        option than keeping money in the bank:
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        1.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Inflation: The cost of goods and services tends to rise over time, which
        can erode the purchasing power of cash held in a bank account. Investing in
        assets such as stocks and real estate can potentially provide a higher rate of
        return than the rate of inflation, which can help to preserve the purchasing
        power of your money over the long term.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        2.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Growth potential: Keeping money in a bank account typically offers a
        very low rate of return, which may not be enough to keep up with your long-term
        goals such as retirement savings. Investing in assets such as stocks and mutual
        funds has the potential for higher returns over the long term, which can help
        your money grow faster.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        3.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Risk diversification: Putting all your money into cash or
        cash-equivalent assets exposes you to the risk that those assets may not
        maintain their value over time. By diversifying your investments among
        different asset classes, you can spread out your risk and potentially reduce
        the overall volatility of your portfolio.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        4.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Opportunity cost: If you keep your money in a bank account, you may be
        missing out on potential investment opportunities. Investing in assets such as
        stocks, real estate, and small businesses, for example, may provide the
        opportunity for significant returns.
    </p>

    <p class=MsoListParagraph style='text-indent:-.25in'>
        5.<span style='font-size:
7.0pt;line-height:106%;font-family:"Times New Roman",serif'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>Building wealth: Saving money and putting it into a bank account can
        help you build a cash cushion for emergencies, but to build true wealth, you
        need to invest. Investing in different assets over time can generate
        compounding returns and help you build your wealth over time.
    </p>

    <p class=MsoNormal>
        We can go on but the primary reason one should invest is to
        beat or at least match inflation. There are various theories but to keep it
        simple banks always pay you less interest than inflation. Your money is worth
        less than it was yesterday if it is sitting in a bank.
    </p>

    <h3>
        Where do I invest? I want high liquidity, good growth, and enough risk
        management.
    </h3>
</div>
