@page "/"
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<div class="body1">
    <div class="letter">
        <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
            <Items>
                <Tab Name="welcome">Welcome</Tab>
                <Tab Name="whyInvest">Why Invest</Tab>
                <Tab Name="investmentVehicles">Where To Invest</Tab>
                <Tab Name="universe">Universe</Tab>
            </Items>
            <Content>
                <TabPanel Name="welcome">
                    <br />
                    <p>
                        Welcome to our investment website! We are glad you have chosen to visit us and explore the world of investment opportunities. Our goal is to provide you with the knowledge and resources you need to make informed investment decisions and reach your financial goals.
                    </p><p>
                        We understand that investing can be a daunting task for many people, especially for those who are new to the process. That's why we have created a user-friendly website that is easy to navigate and filled with informative articles and educational materials.
                    </p><p>
                        We also have a user-friendly platform where you can manage your investments and track your portfolio performance in real-time.
                    </p><p>
                        We are committed to providing you with the tools and support you need to achieve your financial goals. Whether you are new to investing or a seasoned pro, we are here to help you succeed.
                    </p><p>
                        Thank you for choosing us as your investment partner. We look forward to working with you and wish you all the best in your investment journey.
                    </p><p>
                        Go over the tabs and then if you decide to follow this site's investment advice then select appropriate menu item on the top.
                    </p>
                </TabPanel>
                <TabPanel Name="whyInvest">
                    <br />
                    <p>
                        There are several reasons why investing in stocks may be a better option than leaving capital in the bank:
                        <ol>
                            <li>
                                Potential for higher returns: The stock market has historically provided higher returns than other investments, such as bonds or savings accounts. While there is always a risk of loss, stocks have the potential to provide much higher returns over the long term.<br />
                            </li>
                            <li>
                                Inflation protection: Inflation is the rate at which the general level of prices for goods and services is rising, and subsequently purchasing power of currency is falling. The value of money in a savings account will decrease over time due to inflation, while stocks have the potential to appreciate in value, providing a hedge against inflation.
                            </li>
                            <li>
                                Diversification: Investing in stocks allows investors to diversify their portfolio across different sectors, industries, and geographic regions, which can help to reduce risk.
                            </li>
                            <li>
                                Liquidity: stocks are a highly liquid investment, meaning that they can be easily bought and sold on the stock market. This allows investors to access their money quickly and easily, which can be useful for unexpected expenses or emergencies.
                            </li>
                            <li>
                                Potential for compound growth: Stocks offer the potential for compound growth, meaning that the returns from the stock market can be reinvested to earn additional returns, which can help to grow wealth over time.
                            </li>
                        </ol>
                        It's important to keep in mind that investing in stocks comes with inherent risks, and it's important to do your own research, understand the risks and have a well-diversified portfolio. Additionally, it's not recommended to invest money that you may need in the short term, or money that you can't afford to lose.
                    </p>
                </TabPanel>
                <TabPanel Name="investmentVehicles">
                    <br />
                    There are many different types of investment vehicles available to investors, each with its own unique characteristics and potential benefits. Some of the most common investment vehicles include:
                    <ol>
                        <li>
                            Stocks: Stocks, also known as equities, are shares of ownership in a publicly traded company. Investing in stocks allows investors to participate in the growth and success of a company and potentially earn dividends or capital appreciation.
                        </li>
                        <li>
                            Bonds: Bonds are debt securities issued by companies or governments. They pay a fixed rate of interest to investors and have a maturity date, at which point the bond issuer repays the principal amount to the bondholder.
                        </li>
                        <li>
                            Mutual Funds: Mutual funds are investment vehicles that pool money from multiple investors and invest it in a diversified portfolio of stocks, bonds, and other securities. They are managed by professional fund managers, and the returns are shared among the investors based on the number of shares they own.
                        </li>
                        <li>
                            Exchange-Traded Funds (ETFs): ETFs are similar to mutual funds in that they also pool money from multiple investors and invest it in a diversified portfolio of stocks, bonds, and other securities. However, unlike mutual funds, ETFs are traded on stock exchanges and their prices fluctuate throughout the day based on supply and demand.
                        </li>
                        <li>
                            Real Estate: Investing in real estate can take many forms, such as buying a property to rent out, investing in a REIT (Real Estate Investment Trust), or investing in a real estate crowd funding platform. It's a good way to diversify a portfolio, and it can provide a steady stream of income and potential appreciation in value.
                        </li>
                        <li>
                            Commodities: Commodities are natural resources that can be bought and sold, such as gold, oil, and agricultural products. Investing in commodities can provide a hedge against inflation and provide diversification to a portfolio.
                        </li>
                        <li>
                            Alternative Investments: Alternative investments are investments that are not traditional stocks, bonds, or cash. They include investments such as private equity, hedge funds, venture capital, and derivatives. They are generally considered to be more complex and higher risk than traditional investments and are typically only suitable for more experienced investors.
                        </li>
                    </ol>
                    <p>
                        It's important to note that the best investment vehicle for you depends on your investment goals, risk tolerance, and time horizon. A well-diversified portfolio with a mix of different investment vehicles can help to reduce risk and maximize returns.
                    </p><p>
                        We are going to discuss about only one investment vehicles <b>Stocks</b>. Even in stocks our universe is going to be only around 525 stocks that are listed either in DOW-30, NASDAQ-100, or S&amp;P 500.
                    </p>
                </TabPanel>
                <TabPanel Name="universe">
                    <br />
                    Well this is an interesting name; <b>Universe!</b> There are around 2500 stocks actively traded in NYSE and almost double number of stocks in NASDAQ.
                    As a small investor we do not have the time and resources to study those 7000+ firms and hence we are going to narrow our universe of stocks!
                    <p>
                        Our screening begins by only selecting industries that are listed in S&amp;P-500, NASDAQ-100 or DOW-30. Why? Lets start by checking out the section criteria for being included in S&amp;P-500.
                    </p><p>
                        The S&P 500 index is a market capitalization-weighted index that comprises the 500 largest publicly traded companies in the United States. The index is maintained and calculated by Standard & Poor's (S&P) and is considered to be a benchmark for the overall performance of the U.S. stock market.
                    </p><p>
                        The process of selecting the index components is based on several criteria:
                    </p>
                    <ol>
                        <li>
                            Market Capitalization: To be included in the S&P 500, a company must have a market capitalization of at least $8.2 billion as of 2021, and it should be among the top 85% of companies in terms of market capitalization.
                        </li>
                        <li>
                            Liquidity: The company's shares must be highly liquid and easy to trade, meaning that there should be a large number of shares available for purchase and sale at any given time.
                        </li>
                        <li>
                            Financial Viability: The company must have a strong financial position and be able to generate consistent profits.
                        </li>
                        <li>
                            Public Float: The company's shares must be publicly traded, meaning that they are available for purchase by individual investors.
                        </li>
                        <li>
                            Sector Representation: The index should be diversified across different sectors, and should not be overly weighted in any particular sector.
                        </li>
                    </ol>
                    <p>
                        Once a company meets these criteria, it will be included in the S&P 500 index and its weight in the index will be determined by its market capitalization. The index is reviewed and reconstituted every quarter, and any changes to the index are based on the most recent market capitalization data.
                    </p><p>
                        NASDAQ-100, and DOW have their own rules but all three include only firms whose financial are strong and profitable. We are interested only in profitable firms. Aren't we?
                    </p><p>
                        We are picking only if a firm is listed at least in one of the three major indexes. 
                    </p>
                </TabPanel>
            </Content>
        </Tabs>
    </div>
</div>


@code {
    private string selectedTab = "welcome";
    protected Task OnSelectedTabChanged(string name)
    {
        selectedTab = name;
        return Task.CompletedTask;
    }
}
