<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Info"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        Stock Filter
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/">Home</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/securities">Selected Stocks</BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Charts</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/movingAverages">Moving Averages</BarDropdownItem>
                        <BarDropdownItem To="/macdIndicator">M A C D</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Primary">Sign up</Button>
                <Button Color="Color.Secondary">Log in</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>