<h4>Download financial statements for @SelectedTicker</h4>
<br />
<p>
    Click on the icon below to download financial statements for @SelectedTicker .
    <br />
    The excel file contain three tabs; they are:
    <ul>
        <li>Balance sheet</li>
        <li>Cash flow</li>
        <li>Income Statment</li>
    </ul>
</p>
<p style="text-align:center;">
    <Button Color="Color.Primary" Clicked="@ExcelDownload">
        Download <Icon Name="@("fa-solid fa-file-excel")" />
    </Button>
</p>