<div>
    <Row>
        <LineChart @ref="priceChart" TItem="decimal">
        </LineChart>
    </Row>
    <Row>
        <LineChart @ref="momentumChart" TItem="decimal">
        </LineChart>
    </Row>
</div>


